.Header {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  margin-bottom: 40px;

  .Header__Heading {
    color: #636c6b;
  }

  .Header__LeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;

    .Header__LeftContainer__SearchInput {
      margin-right: 50px;
    }

    .Header__LeftContainer__ProfileImage {
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
