@import "../../../assets/colors.scss";
@import "../../../assets/devices_sizes.scss";

.Header {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  margin-bottom: 40px;

  @media screen and (max-width: $large) {
    padding-left: 5px;
  }

  @media screen and (max-width: $small) {
    padding-left: 0;
  }

  .Header__Heading {
    color: $grey03;
    font-size: 34px;

    @media screen and (max-width: $large) {
      font-size: 28px;
    }

    @media screen and (max-width: $xmedium) {
      display: none;
    }
  }

  .Header__Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;

    @media screen and (max-width: $xmedium) {
      width: 100%;
      justify-content: space-between;
      padding-right: 10px;
    }

    .Header__OpenMenuIcon {
      cursor: pointer;
      display: none;

      @media screen and (max-width: $medium) {
        display: block;
      }
    }

    .Header__SearchInput {
      margin-right: 50px;

      @media screen and (max-width: $medium) {
        margin-left: 20px;
      }

      @media screen and (max-width: $small) {
        display: none;
      }
    }

    .Header__BadgesContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .Header__ProfileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

.ui.icon.input > input[placeholder="Search"] {
  @media screen and (max-width: $medium) {
    font-size: 90%;
  }

  @media screen and (max-width: $xtiny) {
    font-size: 80%;
  }
}
