@import "../../assets/colors.scss";
@import "../../assets/devices_sizes.scss";

.Home {
  height: 100vh;
  background-image: url("../../assets/images/home_background.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .Home__ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4bb493af;
    height: 60vh;
    width: 60vh;

    @media screen and (max-width: $small) {
      height: 300px;
      width: 300px;
    }

    .Home__Welcome {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    .Home__WelcomeHeader {
      font-size: 40px;

      @media screen and (max-width: $small) {
        font-size: 25px;
      }
    }

    .Home__Button {
      background-color: $green01;
      color: white;
      border: 2px solid $green01;
      margin-top: 50px;

      &:hover {
        background-color: white;
        color: $green01;
      }

      @media screen and (max-width: $small) {
        margin-top: 10px;
      }
    }

    .Home__Warning {
      color: red;
      font-weight: bold;
    }
  }
}
