.Dashboard {
  padding: 20px;
  .Dashboard__ExamsDeclarationContainer {
    width: 100%;
    min-height: 35vh;
  }

  .Dashboard__SecondRowContainer {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
  }
}
