@import "./colors.scss";

.Header--Animated {
  width: 100vw;
  height: 100vh;
  color: $primary-color;
  margin: 0;
  animation: swim 6s ease-in infinite alternate;
  background-color: $grey01;
}

@keyframes swim {
  0% {
  }
  50% {
    padding-top: 90vh;
  }
  75% {
    padding-left: 90vh;
  }
  100% {
    padding-right: 90vh;
  }
}
