@import "../../../assets/colors.scss";
@import "../../../assets/devices_sizes.scss";

.ExamsDeclaration__ContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .ExamsDeclaration__Left {
    margin: 20px 30px;
    text-align: left;

    .ExamsDeclaration__Header {
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      margin: 0;
      background: linear-gradient(to left, $primary-color, $secondary-color);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    .ExamsDeclaration__Paragraph {
      color: $grey03;
      font-size: 20px;
    }

    .ExamsDeclaration__Quote {
      color: $grey02;
      font-style: italic;
    }

    .ExamsDeclaration__Button {
      background-color: $green02;
      color: white;
      width: 30%;
      height: 40px;
      font-size: 16px;
      border: 2px solid $green02;
      @media screen and (max-width: $medium) {
        width: 100%;
      }

      &:hover {
        background-color: white;
        color: $green02;
      }
    }
  }

  .ExamsDeclaration__Right {
    width: 47%;
    @media screen and (max-width: $large) {
      display: none;
    }
  }

  .ExamsDeclaration__Image {
    height: 35vh;
  }
}
