@import "../../../assets/colors.scss";
@import "../../../assets/devices_sizes.scss";

.AnnouncementsDeclaration__ContentContainer {
  padding: 15px;

  .AnnouncementsDeclaration__Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;

    .AnnouncementsDeclaration__Header__Left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: bold;
      color: $grey03;
      font-size: 21px;

      .AnnouncementsDeclaration__Header__Subheading {
        color: $grey02;
      }
    }

    .AnnouncementsDeclaration__Header__Right {
      color: $green02;
      font-weight: bold;
      font-size: 21px;
      cursor: pointer;
    }
  }

  .AnnouncementsDeclaration__Subheader {
    color: $grey02;
    font-size: 13px;
    text-align: left;
  }

  .AnnouncementsDeclaration__ItemsSeparator {
    height: 1px;
    color: $grey04;
    background-color: $grey04;
    border: none;
    display: none;

    @media screen and (max-width: $large) {
      display: block;
    }
  }
}
