@import "../../../assets/devices_sizes.scss";

.MainMenu__MenuHeader {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  padding-bottom: 20px;
  cursor: pointer;
}

.MainMenu__SearchContainer {
  display: none;

  @media screen and (max-width: $small) {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.MainMenu__LogOutButton {
  margin-top: 20px;
}
